.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 7vh;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  position: absolute;
  left: 100px;
  color: #fffffc;
}
.navbar-logo :hover {
  cursor: default;
}

.navbar-link {
  padding: 0 10px;
  color: #9fb1bc;
}
.navbar-link a {
  text-decoration: none;
  color: #9fb1bc;
}
